{% extends 'admin.html.twig' %}



{% block body %}
>

<div class="example-wrapper">


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/CRM_NT/src/Controller/AdminController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/CRM_NT/templates/admin/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
